<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">IVLE API Explorer</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <button onclick="login()">Login</button>
          <button onclick="logout()">Logout</button>
          <button onclick="getModules()">Get Modules</button>
          <button onclick="getTimetable()">Get Timetable</button>
          <button onclick="getClassRoster()">Get Class Roster</button>
          <button onclick="getGradebook()">Get Gradebook</button>
          <button onclick="getGroups()">Get Groups</button>
        </div>
        <div class="col-md-9">
          <pre id="output"></pre>
        </div>
      </div>
    </div>
  </div>
</div>
